<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="../public/login.css">

    <!--BOXICON LINK-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <header class="__header-nav">
        <div class="__header-inner-items">
            <div class="__header-nav-container item-flex">
                <div class="logo">
                    <a href="">
                        <img class="__logo-image" src="../assets/Images/Sugo-App-Logo.png" alt="logo">
                    </a>
                </div>
                <div class="__logo-title"><p>SUGO APP</p></div>
            </div>  
            <div class="__header-nav-container navigation">
                <nav class="__header-nav-inner-container">
                    <ul class="__navigation-list">
                        <div class="__navigation-item-container">
                            <li>HOME</li>
                        </div>
                        <div class="__navigation-item-container">
                            <li>SERVICES</li>
                        </div>
                        <div class="__navigation-item-container">
                            <li>ABOUT US</li>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section class="__section-login-container">
            <div class="__section-login-image">
                <img src="../assets/Images/LogInbg.jpg ">
            </div>  
            <div class="__section-login-form-container">
                <h1>LOGIN</h1>
                <form action="" method="get" class = "__section-login-form">
                    <div class="input-box email">
                        <input class="input" type="email" name="email" id="email" placeholder="EMAIL" required >
                    </div>
                    <div class="input-box password">
                        <input class="input" type="password" name="password" id="password" placeholder="PASSWORD" required>
                    </div>
                    <div class="forgetpwd-text">
                        <p>Forget Password</p>
                    </div>
                    <div class="input-box submit">
                        <input type="submit" name="submitBTN" id="submitbtn" value="SIGN IN">
                    </div>
                    <div class="Signup-text">
                        <p>Don't have an account? <span>Signup</span></p>
                    </div>
                    <div class="line">
                        <div class="OR">OR</div>
                    </div>
                    <div class="other-account">
                        <div class="other-account-btn facebook" >
                            <a href="">
                                <p>LOGIN WITH FACEBOOK</p></a>
                        </div>
                            <div class="boxicon">
                                <i class='bx bxl-facebook-circle' style='color:#4162a7'  ></i>
                            </div>
                    </div>
                    <div class="other-account">
                        <div class="other-account-btn google">
                            <a href="">
                                <p>LOGIN WITH GOOGLE</p></a>
                        </div>
                            <div class="boxicon">
                                <i class='bx bxl-google-plus-circle' style='color:#ea4335'  ></i>
                            </div>
                    </div>
                </form>
            </div>
    </section>
    
</body>
</html>