<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="../public/login.css">
    <link rel="stylesheet" href="../public/service.css">

    <!--BOXICON LINK-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <header class="__header-nav">
        <div class="__header-inner-items">
            <div class="__header-nav-container item-flex">
                <div class="logo">
                    <a href="">
                        <img class="__logo-image" src="../assets/Images/Sugo-App-Logo.png" alt="logo">
                    </a>
                </div>
                <div class="__logo-title"><p>SUGO APP</p></div>
            </div>  
            <div class="__header-nav-container navigation">
                <nav class="__header-nav-inner-container">
                    <ul class="__navigation-list">
                        <div class="__navigation-item-container">
                            <li>HOME</li>
                        </div>
                        <div class="__navigation-item-container">
                            <li>SERVICES</li>
                        </div>
                        <div class="__navigation-item-container">
                            <li>ABOUT US</li>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section class="__section-content">
        <div class="__section-introduction-image">
            <img src="../assets/Images/background-service-1.jpg">
        </div>
        <div class="__section-introduction-text">
            <h1>WE HAVE ALL SERVICE YOU NEED </h1>
        </div>
    </section>

    <section class = "__section-main-content">
        <div class="__section-main-item">
            <div class="line">
                <div class="title">WHAT WE DO</div>    
            </div>
            <div class="__Section-main-item-text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae aliquet nec ullamcorper sit amet risus nullam eget felis. Nunc sed blandit libero volutpat. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar. Amet porttitor eget dolor morbi non arcu risus. Interdum velit laoreet id donec ultrices tincidunt. Elit pellentesque habitant morbi tristique. Suscipit adipiscing bibendum est ultricies integer. Nisi lacus sed viverra tellus in hac. Porttitor rhoncus dolor purus non enim praesent elementum facilisis. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar. Elit eget gravida cum sociis natoque penatibus et magnis. Elementum pulvinar etiam non quam lacus suspendisse faucibus interdum. Commodo ullamcorper a lacus vestibulum sed. Eros donec ac odio tempor orci dapibus ultrices in. Nec ullamcorper sit amet risus nullam eget felis eget nunc.
                </p>
            </div>
        </div>

        <div class="__section-main-item">
            <div class="__Section-main-item-services ">
                <div class="line">
                    <div class="title">SERVICES</div>    
                </div>
                <div class="__Section-main-item-container">
                    <div class="item">
                            
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>